/**/*
/gulpfile.js
gulpfile.js
!/lib/list2pdf.js
!/lib/DejaVuSans.ttf
!/admin/**/*
!/admin/*
!/widgets/*
!/widgets/**/*
!/www/*
!/www/**/*
admin/i18n/flat.txt
admin/i18n/*/flat.txt
www/i18n/flat.txt
www/i18n/*/flat.txt
!/io-package.json
!/package.json
!/LICENSE
!/main.js
!/README.md
