/**/*
/gulpfile.js
gulpfile.js
!/lib/list2pdf.js
!/lib/DejaVuSans.ttf
!/admin/**/*
!/admin/*
!/widgets/*
!/widgets/**/*
!/www/*
!/www/**/*
!/io-package.json
!/package.json
!/LICENSE
!/main.js
!/README.md
